<h1 class="text-center mt-3 mb-5">Admin</h1>
<div class="row my-3">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/cadastro" role="button">
        <i class="fas fa-edit"></i> Cadastrar Informações
        </a>
    </div>
</div>
<div class="row my-3">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/registros" role="button">
        <i class="fas fa-user-edit"></i> Editar Informações
        </a>
    </div>
</div>
<div class="row my-3">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/dados" role="button">
        <i class="fas fa-globe-americas"></i> Acessar API
        </a>
    </div>
</div>
