<h1 class="text-center mt-3 mb-5">Admin</h1>
<div class="row my-3">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/admin/cadastro" role="button">Cadastrar Informações</a>
    </div>
</div>
<div class="row my-3">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/admin/registros" role="button">Editar Informações</a>
    </div>
</div>
<div class="row my-3">
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="/api" role="button">Acessar API</a>
    </div>
</div>
