<h1 class="text-center mt-3 mb-4">Cadastrar Informações</h1>
<hr class="mb-5">

<form method="POST" action="/admin/cadastro">
    <div class="form-group row">
        <label for="oe" class="col-sm-2 col-form-label-lg">Objetivos Estratégicos:</label>
        <div class="col-sm-8">
            <select class="form-control" id="oe" name="oe_num">
            <option value="1">1 - Educação de qualidade, iclusiva e transformadora, buscando o desenvolvimento pleno</option>
            <option value="2">2 - Saúde pública integrada, com modernas tecnologias e amplo acesso</option>
            <option value="3">3 - Segurança para a sociedade usando ferramentas de inteligência no combate à criminalidade</option>
            <option value="4">4 - Desenvolvimento econômico promovendo o investimento, a inovação, o turismo e a economia criativa</option>
            <option value="5">5 - Desenvolvimento social garantindo os direitos individuais e coletivos e promovendo a autonomia plena</option>
            <option value="6">6 - Qualidade de vida urbana, com moradia adequada e mobilidade</option>
            <option value="8">8 - Desenvolvimento sustentável preservando o meio ambiente e protegendo a população frente aos desastres naturais</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="periodo" class="col-sm-2 col-form-label-lg">Período:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="periodo" name="periodo" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="dado" class="col-sm-2 col-form-label-lg">Dado:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="dado" name="dado" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="fonte" class="col-sm-2 col-form-label-lg">Fonte:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="fotne" name="fonte" placeholder="">
        </div>
    </div>
    <div class="form-group row mb-4">
        <label for="" class="col-sm-2 col-form-label-lg">Indicador:</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="indicador" name="indicador" placeholder="" rows="3" cols="30"
            style="resize:none"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a class="btn btn-secondary" href="/admin" role="button">Voltar</a>
</form>