<h1 class="text-center mt-3 mb-5">Cadastrar Informações do Excel</h1>

<form method="POST" action="/admin/cadastro-excel">
  <div class="form-group">
    <label for="txtArea">Inisira as Informações</label>
    <textarea class="form-control" id="txtArea" name="txtArea" rows="15"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Enviar</button>
</form>