<h1 class="text-center mt-3 mb-5">Cadastrar Dados de Planilha</h1>

<button type="button" class="btn btn-info" type="button"
 data-toggle="collapse" data-target="#collapseList">
    Informações Sobre a Formatação Correta
</button>

<div class="collapse" id="collapseList">
    <ul class="list-group mt-3 mb-4">
        <li class="list-group-item list-group-item-light">* Os dados devem estar nessa ordem: <strong>OE - Indicador - Período - Valor - Fonte</strong></li>
        <li class="list-group-item list-group-item-info">* O separador decimal dos valores deve seguir o padrão americano, utilizando o ponto, e não a vírgula.</li>
        <li class="list-group-item list-group-item-light">* Nenhum dado pode conter ponto e vírgula (;)</li>
        <li class="list-group-item list-group-item-info">* Espaços em branco e quebras de linha não necessárias devem ser removidos</li>
    </ul>
</div>


<form method="POST" action="/cadastro-excel">
  <div class="form-group mt-4">
    <textarea class="form-control" id="txtArea" name="txtArea" rows="15"></textarea>
  </div>
  <button class="btn btn-primary mb-3" type="submit">Cadastrar</button>
  <a class="btn btn-secondary mb-3" href="/cadastro" role="button">Voltar</a>
</form>